<div class="report-list-container">
  @if (isLoading()) {
    <message-spinner message="Loading reports"/>
  } @else {
    <div class="toolbar">
      <report-filters #filters/>
      <div class="button-group">
        @if (isCompareMode()) {
          <button class="outlined-button" (click)="toggleCompareMode()">Cancel</button>
        }
        <button class="accent-button" (click)="handleCompare()" [class.active]="isCompareMode()">
          Compare
          @if (isCompareMode()) {
            ({{ reportsToCompare().length }} selected)
          }
        </button>
      </div>
    </div>

    @for (group of filters.filteredGroups(); track group.id) {
      <div class="report-item">
        <a [routerLink]="['/report', group.id]">
          <div class="report-score-container">
            <score [total]="group.totalPoints" [max]="group.maxOverallPoints" size="medium"/>
          </div>
          <div class="report-item-content">
            <div class="run-name-container">
              <div class="run-name">{{ group.displayName }}</div>
              <div class="run-date">
                {{ group.timestamp | date: 'medium' }}

                @if (group.labels.length) {
                  <ul class="status-badge-group">
                    @for (label of group.labels; track label) {
                      <li class="status-badge neutral">{{ label }}</li>
                    }
                  </ul>
                }
              </div>
              @if (group.promptNames.length) {
                <prompt-badge-list [promptNames]="group.promptNames" />
              }
            </div>
            <div class="run-meta-container">
              <div class="run-meta">
                <provider-label
                  [id]="group.model"
                  [label]="group.model"
                  size="small"/>
                <provider-label
                  [id]="group.framework.fullStackFramework.id"
                  [label]="group.framework.fullStackFramework.displayName"
                  size="small"/>
                @if (group.runner) {
                  <provider-label
                    [id]="group.runner.id"
                    [label]="group.runner.displayName"
                    size="small"/>
                }
              </div>
              <stacked-bar-chart
                [data]="getGraphData(group)"
                [compact]="true"
                [showLegend]="false"
                (click)="$event.preventDefault(); $event.stopPropagation()"
              />
            </div>
          </div>
        </a>
        @if (isCompareMode()) {
          <div class="select-for-comparison">
            <input
              type="checkbox"
              [checked]="isReportSelectedForComparison(group.id)"
              (change)="onCheckboxChange($event, group.id)"
            />
          </div>
        }
      </div>
    } @empty {
      @if (!isServer) {
        No results match the current filters
      }
    }
  }
</div>
